body {
  height: auto;
  width: 50vw;
  margin: 35%;
  margin-top: 5%;
}
.container {
  height: 500px;
  width: 500px;
  border: 0.5px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . .";
}
.square {
  height: 20px;
  width: 20px;
  border: 0px solid #f5f1f1;
  margin: 0px;
  background: red;
}

.square:hover {
  background: #ee5e4e;
}
